In [87]:
# Задание 1
import pandas as pd

def movie_class(param):
    res = param.rating.mean()
    if res <= 2.0:
        return 'низкий'
    elif res >=4.5:
        return 'высокий'
    else:
        return 'средний'


rating_df = pd.read_csv('ml-latest-small/ratings.csv')[['movieId', 'rating']]
movie_df = pd.read_csv('ml-latest-small/movies.csv')[['movieId', 'title']]

result_df = rating_df.groupby('movieId').apply(movie_class).reset_index()
result_df.columns = ['movieId', 'class']
result_df = movie_df.merge(result_df, on='movieId', how='left')
result_df.head()

   movieId                               title    class
0        1                    Toy Story (1995)  средний
1        2                      Jumanji (1995)  средний
2        3             Grumpier Old Men (1995)  средний
3        4            Waiting to Exhale (1995)  средний
4        5  Father of the Bride Part II (1995)  средний

In [84]:
# Задание 2
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def add_region(param):
    """Поиск городов"""

    words = param.split(' ')
    for region in geo_data:
        for city in geo_data[region]:
            if city in words:
                return region
    return 'undefined'


keyword_df = pd.read_csv('ml-latest-small/keywords.csv')
keyword_df['region'] = keyword_df.keyword.apply(add_region)

keyword_df[keyword_df.region != 'undefined'].head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад

In [93]:
# Задание 3
import re

rating_df = pd.read_csv('ml-latest-small/ratings.csv')[['movieId', 'rating']]
movie_df = pd.read_csv('ml-latest-small/movies.csv')[['movieId', 'title']]

def production_year(param):
    result = re.findall(r'\((\d+)\)', param)
    if result:
        return result[0]
    else:
        return 1900


years = {x: 0 for x in range(1950, 2011)}

movie_df['year'] = movie_df.title.apply(production_year)
rating_df = rating_df.merge(movie_df, on='movieId', how='left')
for y in years:
    df = rating_df[rating_df['year'] == str(y)]
    years[y] = df.rating.mean()

result_df = pd.DataFrame.from_dict(years, orient='index', columns=['reting']).reset_index()
result_df = result_df.sort_values(by=['reting'], ascending=[False])
result_df.columns=['year', 'rating']
result_df.head()

    year    rating
7   1957  4.014241
22  1972  4.011136
2   1952  4.000000
4   1954  3.994220
1   1951  3.983539